<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= eCode %>! The Computer Store</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="/404.css" />
  </head>
  <body>
    <div id="notfound">
      <div class="notfound">
        <div class="notfound-404">
          <h1><%= eHeading %></h1>
        </div>
        <h2><%= eCode %>- <%= eText %></h2>
        <p><%= eDesc %></p>
        <a href="/">Go To Homepage</a>
      </div>
    </div>
  </body>
</html>
