<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brands</title>
    <link rel="stylesheet" href="/category.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="search-bar">
        <div class="search-wrapper">
          <div class="search-icon-wrapper">
            <i class="fas fa-search fa-lg searchIcon"></i>
          </div>
          <input class="search" type="text" placeholder="Search ID, Name or Parent" />
        </div>
      </div>
      <table class="data-table" style="width: 100%">
        <thead>
          <tr class="table-columns">
            <th class="id-col" scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Parent</th>
            <th class="edit-col" scope="col"></th>
            <th class="delete-col" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0 ; i < categories.length ; i++) { %>
          <tr>
            <td data-label="ID"><%= categories[i].id %></td>
            <td class="category-name" data-label="Name"><%= categories[i].name %></td>
            <td class="category-parent" data-label="Name"><%= categories[i].parentName == null ? '-' : categories[i].parentName %></td>
            <td data-label=""><i class="far fa-edit edit-button" data-index="<%= categories[i].id %>"></i></td>
            <td data-label=""><i class="fas fa-trash-alt delete-button" data-index="<%= categories[i].id %>"></i></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <div class="pages">
        <% if(pagination) { if(currentPage - 1 > 0) { %>
        <a href="?page=<%= currentPage-1 %>&searchVal=<%= searchVal %>">&lt;</a>
        <% } %> <% } %> <% for(let i = pageStart ; i <= pageEnd ; i++) { %>
        <a href="?page=<%= i %>&searchVal=<%= searchVal %>"><%= i %></a>
        <% } %> <% if(pagination) { if(currentPage + 1 <= maxPage) { %>
        <a href="?page=<%= currentPage+1 %>&searchVal=<%= searchVal %>">&gt;</a>
        <% } %> <% } %>
      </div>
    </div>
  </body>
  <script src="https://kit.fontawesome.com/85c08616f2.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).ready(() => {
      $(".search").on("input", (event) => {
        const searchVal = $(".search").val();
        $.ajax({
          type: "get",
          data: {
            searchVal: searchVal,
          },
          success: (response) => {
            $(".data-table").html(jQuery(response).find(".data-table").html());
            $(".pages").html(jQuery(response).find(".pages").html());
          },
          error: (error) => {
            console.log(error);
            alert("Error retrieving data!");
          },
        });
      });

      const generateDropDown = (id, prevVal) => {
        let list = <%-JSON.stringify(allCategories); %>;
        let generatedList = `<select name="categories" id="categories" data-prev="${prevVal}"> <option value="null">None</option>`;

        list = list.filter(element => element.id != id && element.parentID != id);

        for (let i = 0; i < list.length; i++) {
          generatedList += `<option value="${list[i].id}" selected="${list[id] == prevVal}">${list[i].name}</option>`;
        }
        generatedList += "</select>";
        return generatedList;
      };

      $(document).on("click", ".edit-button", (event) => {
        const parentRow = event.target.parentNode.parentNode;
        if (document.querySelector("#category-name")) {
          return;
        }

        parentRow.style.border = "2px solid green";
        const categoryName = parentRow.querySelector(".category-name");
        const categoryParent = parentRow.querySelector(".category-parent");
        const editButton = parentRow.querySelector(".edit-button");
        const deleteButton = parentRow.querySelector(".delete-button");
        categoryName.innerHTML = `<input class="search" id="category-name" type="text" value='${categoryName.innerHTML}' data-prev="${categoryName.innerHTML}" style="width: 80%; height: 50px; border: 1px solid grey;"/>`;
        categoryParent.innerHTML = generateDropDown(event.target.attributes['data-index'].value, categoryParent.innerHTML);
        editButton.classList = ["far fa-check-circle fa-lg confirm"];
        deleteButton.classList = ["far fa-times-circle fa-lg cancel"];
      });

      $(document).on("click", ".cancel", (event) => {
        const parentRow = event.target.parentNode.parentNode;
        const categoryName = parentRow.querySelector(".category-name");
        const categoryParent = parentRow.querySelector(".category-parent");
        const editButton = parentRow.querySelector(".confirm");
        const deleteButton = parentRow.querySelector(".cancel");
        categoryParent.innerHTML = categoryParent.querySelector("#categories").attributes["data-prev"].value;
        categoryName.innerHTML = parentRow.querySelector("#category-name").attributes["data-prev"].value;
        editButton.classList = ["far fa-edit edit-button"];
        deleteButton.classList = ["fas fa-trash-alt delete-button"];
        parentRow.style.border = "none";
      });

      $(document).on("click", ".confirm", (event) => {
        const parentRow = event.target.parentNode.parentNode;
        const index = parseInt(event.target.attributes["data-index"].value);
        const categoryName = parentRow.querySelector('#category-name').value;
        const categoryParent = parseInt(parentRow.querySelector('#categories').value);

        $.ajax({
          type: "POST",
          data: {
            status: 0,
            index: index,
            categoryName: categoryName,
            categoryParent: categoryParent,
          },
          success: (response) => {
            if(response) {
              location.reload();
            }
          },
        });
      });

      $(document).on("click", ".delete-button", (event) => {
        const parentRow = event.target.parentNode.parentNode;
        parentRow.style.border = "2px solid red";
        setTimeout(() => {
          const action = confirm("Are you sure you want to delete?");
          if (action) {
            const index = event.target.attributes["data-index"].value;
            $.ajax({
              type: "post",
              data: {
                status: -1,
                index: index,
              },
              success: (response) => {
                if (response) {
                  location.reload();
                }
              },
            });
          } else {
            parentRow.style.border = "none";
          }
        }, 100);
      });
    });
  </script>
</html>
