<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brands</title>
    <link rel="stylesheet" href="/product.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="search-bar">
            <div class="search-wrapper">
                <div class="search-icon-wrapper">
                    <i class="fas fa-search fa-lg searchIcon"></i>
                </div>
                <input class="search" type="text" placeholder="Search ID, Name or Parent" />
            </div>
        </div>
        <table class="data-table" style="width: 100%">
            <thead>
                <tr class="table-columns">
                    <th class="id-col" scope="col">ID</th>
                    <th scope="col">UPC</th>
                    <th scope="col">SKU</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th class="desc-col" scope="col">Description</th>
                    <th scope="col">Brand Name</th>
                    <th scope="col">Category Name</th>
                    <th class="edit-col" scope="col"></th>
                    <th class="delete-col" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0 ; i < products.length ; i++) { %>
                    <tr>
                        <td data-label="ID">
                            <%= products[i].id %>
                        </td>
                        <td class="product-upc" data-label="UPC">
                            <%= products[i].upc == null ? '-' : products[i].upc %>
                        </td>
                        <td class="product-sku" data-label="SKU">
                            <%= products[i].sku == null ? '-' : products[i].sku %>
                        </td>
                        <td class="product-image" data-label="Image"><img class="table-image" src="/products/<%= products[i].link %>" alt="<%= products[i].name %>-image" /></td>
                        <td class="product-name" data-label="Name">
                            <%= products[i].name %>
                        </td>
                        <td class="product-price" data-label="Price">
                            <%= products[i].price %>
                        </td>
                        <td class="product-description" data-label="Decsription">
                            <%= products[i].description %>
                        </td>
                        <td class="product-brand" data-index="<%= products[i].brandID %>" data-label="Brand Name">
                            <a class="table-links" href="./brands?searchVal=<%= products[i].brandID %>&limit=1">
                                <%= products[i].brandName %>
                            </a>
                        </td>
                        <td class="product-category" data-index="<%= products[i].categoryID %>" data-label="Category Name">
                            <a class="table-links" href="./categories?searchVal=<%= products[i].categoryID %>&limit=1">
                                <%= products[i].categoryName %>
                            </a>
                        </td>
                        <td data-label=""><i class="far fa-edit edit-button" data-index="<%= products[i].id %>"></i></td>
                        <td data-label=""><i class="fas fa-trash-alt delete-button" data-index="<%= products[i].id %>"></i></td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        <div class="pages">
            <% if(pagination) { if(currentPage - 1 > 0) { %>
                <a href="?page=<%= currentPage-1 %>">&lt;</a>
                <% } %>
                    <% } %>
                        <% for(let i = pageStart ; i <= pageEnd ; i++) { %>
                            <a href="?page=<%= i %>">
                                <%= i %>
                            </a>
                            <% } %>
                                <% if(pagination) { if(currentPage + 1 <= maxPage) { %>
                                    <a href="?page=<%= currentPage+1 %>">&gt;</a>
                                    <% } %>
                                        <% } %>
        </div>
    </div>
</body>
<script src="https://kit.fontawesome.com/85c08616f2.js" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(() => {
        $(".search").on("input", (event) => {
            const searchVal = $(".search").val();
            $.ajax({
                type: "get",
                data: {
                    searchVal: searchVal,
                },
                success: (response) => {
                    $(".data-table").html(jQuery(response).find(".data-table").html());
                    $(".pages").html(jQuery(response).find(".pages").html());
                },
                error: (error) => {
                    console.log(error);
                    alert("Error retrieving data!");
                },
            });
        });

        const generateDropDown = (list, name, id, prevVal) => {
            let generatedList = `<select name="${name}" id="product-${name}" data-prev='${prevVal}'>`;

            if (name != 'category') {
                generatedList += `<option value="null">None</option>`;
            }

            for (let i = 0; i < list.length; i++) {
                let selected = prevVal.search(`${list[i].name}`) >= 0;
                generatedList += `<option value="${list[i].id}" ${selected ? 'selected' : ''}>${list[i].name}</option>`;
            }
            generatedList += "</select>";
            return generatedList;
        };

        $(document).on("click", ".table-image", (event) => {
            const parentCell = event.target.parentNode;
            if (parentCell.querySelector("#product-image")) parentCell.querySelector("#product-image").click();
        });

        $(document).on("change", "#product-image", (event) => {
            const parentCell = event.target.parentNode;
            if (parentCell.querySelector(".table-image")) parentCell.querySelector(".table-image").attributes["src"].value = URL.createObjectURL(event.target.files[0]);
        });

        $(document).on("click", ".edit-button", (event) => {
            const parentRow = event.target.parentNode.parentNode;
            if (document.querySelector("#product-name")) {
                return;
            }

            parentRow.style.border = "2px solid green";
            const productUPC = parentRow.querySelector(".product-upc");
            const productSKU = parentRow.querySelector(".product-sku");
            const productName = parentRow.querySelector(".product-name");
            const productImage = parentRow.querySelector('.product-image');
            const productPrice = parentRow.querySelector(".product-price");
            const productDescription = parentRow.querySelector(".product-description");
            const productBrand = parentRow.querySelector(".product-brand");
            const productCategory = parentRow.querySelector(".product-category");
            const editButton = parentRow.querySelector(".edit-button");
            const deleteButton = parentRow.querySelector(".delete-button");
            productUPC.innerHTML = `<input class="search" id="product-upc" type="text" value='${productUPC.innerHTML}' data-prev="${productUPC.innerHTML}" style="width: 80%; height: 50px; border: 1px solid grey;"/>`;
            productSKU.innerHTML = `<input class="search" id="product-sku" type="text" value='${productSKU.innerHTML}' data-prev="${productSKU.innerHTML}" style="width: 80%; height: 50px; border: 1px solid grey;"/>`;
            productImage.innerHTML += `<input accept=".jpg,.png, .svg, .jpeg" id="product-image" type="file" data-prev= "${productImage.querySelector(".table-image").attributes["src"].value}" style="display:none" >`;
            productName.innerHTML = `<input class="search" id="product-name" type="text" value='${productName.innerHTML}' data-prev="${productName.innerHTML}" style="width: 80%; height: 50px; border: 1px solid grey;"/>`;
            productPrice.innerHTML = `<input class="search" id="product-price" type="number" value='${Number(productPrice.innerHTML)}' data-prev="${productPrice.innerHTML}" style="width: 80%; height: 50px; border: 1px solid grey;"/>`;
            productDescription.innerHTML = `<input class="search" id="product-description" type="text" value='${productDescription.innerHTML}' data-prev="${productDescription.innerHTML}" style="width: 80%; height: 50px; border: 1px solid grey;"/>`;
            productCategory.innerHTML += generateDropDown(<%-JSON.stringify(categories) %>, 'category', event.target.attributes["data-index"].value, productCategory.innerHTML);
            productCategory.querySelector('.table-links').style.display = 'none';
            productBrand.innerHTML += generateDropDown(<%-JSON.stringify(brands) %>, 'brand', event.target.attributes["data-index"].value, productBrand.innerHTML);
            productBrand.querySelector('.table-links').style.display = 'none';
            editButton.classList = ["far fa-check-circle fa-lg confirm"];
            deleteButton.classList = ["far fa-times-circle fa-lg cancel"];
        });

        $(document).on("click", ".cancel", (event) => {
            const parentRow = event.target.parentNode.parentNode;
            const productUPC = parentRow.querySelector(".product-upc");
            const productSKU = parentRow.querySelector(".product-sku");
            const productImage = parentRow.querySelector(".product-image");
            const productName = parentRow.querySelector(".product-name");
            const productPrice = parentRow.querySelector(".product-price");
            const productDescription = parentRow.querySelector(".product-description");
            const productBrand = parentRow.querySelector(".product-brand");
            const productCategory = parentRow.querySelector(".product-category");
            const editButton = parentRow.querySelector(".confirm");
            const deleteButton = parentRow.querySelector(".cancel");

            productUPC.innerHTML = parentRow.querySelector("#product-upc").attributes["data-prev"].value;
            productSKU.innerHTML = parentRow.querySelector("#product-sku").attributes["data-prev"].value;
            productName.innerHTML = parentRow.querySelector("#product-name").attributes["data-prev"].value;
            productImage.querySelector(".table-image").attributes["src"].value = productImage.querySelector("#product-image").attributes["data-prev"].value;
            productImage.removeChild(productImage.querySelector("#product-image"));
            productPrice.innerHTML = parentRow.querySelector("#product-price").attributes["data-prev"].value;
            productDescription.innerHTML = parentRow.querySelector("#product-description").attributes["data-prev"].value;
            productCategory.removeChild(productCategory.querySelector('#product-category'));
            productBrand.removeChild(productBrand.querySelector('#product-brand'));
            productCategory.querySelector('.table-links').style.display = 'unset';
            productBrand.querySelector('.table-links').style.display = 'unset';

            editButton.classList = ["far fa-edit edit-button"];
            deleteButton.classList = ["fas fa-trash-alt delete-button"];
            parentRow.style.border = "none";
        });

        $(document).on("click", ".confirm", (event) => {
            const parentRow = event.target.parentNode.parentNode;
            const index = parseInt(event.target.attributes["data-index"].value);
            const upc = parentRow.querySelector('#product-upc').value;
            const sku = parentRow.querySelector('#product-sku').value;
            const image = parentRow.querySelector("#product-image").files[0];
            const name = parentRow.querySelector('#product-name').value;
            const price = parentRow.querySelector('#product-price').value;
            const description = parentRow.querySelector('#product-description').value;
            const brand = parentRow.querySelector('#product-brand').value;
            const category = parentRow.querySelector('#product-category').value;

            const formData = new FormData();
            formData.append('status', 0);
            formData.append('index', index);
            formData.append('upc', upc);
            formData.append('sku', sku);
            formData.append('name', name);
            formData.append('image', image);
            formData.append('price', price);
            formData.append('description', description);
            formData.append('brand', brand);
            formData.append('category', category);

            $.ajax({
                type: "POST",
                url: './products/update',
                data: formData,
                contentType: false,
                processData: false,
                success: (response) => {
                    if (response) {
                        location.reload();
                    }
                },
            });
        });

        $(document).on("click", ".delete-button", (event) => {
            const parentRow = event.target.parentNode.parentNode;
            parentRow.style.border = "2px solid red";
            setTimeout(() => {
                const action = confirm("Are you sure you want to delete?");
                if (action) {
                    const index = event.target.attributes["data-index"].value;
                    $.ajax({
                        type: "post",
                        data: {
                            status: -1,
                            index: index,
                        },
                        success: (response) => {
                            if (response) {
                                location.reload();
                            }
                        },
                    });
                } else {
                    parentRow.style.border = "none";
                }
            }, 100);
        });
    });
</script>

</html>